@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff7a00;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
